[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = For the quizam project
[access "refs/*"]
	owner = group quizam-team
	owner = group user/kumar ankit (ankitech)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group quizam-team
	label-Code-Review = -2..+2 group user/kumar ankit (ankitech)
	label-Verified = -1..+1 group quizam-team
	label-Verified = -1..+1 group user/kumar ankit (ankitech)
	push = group quizam-team
	push = group user/kumar ankit (ankitech)
	read = group quizam-team
	read = group user/kumar ankit (ankitech)
	rebase = group quizam-team
	rebase = group user/kumar ankit (ankitech)
	removeReviewer = group quizam-team
	removeReviewer = group user/kumar ankit (ankitech)
	submit = group quizam-team
	submit = group user/kumar ankit (ankitech)
[access "refs/heads/*"]
	create = group quizam-team
	create = group user/kumar ankit (ankitech)
	push = group quizam-team
	push = +force group user/kumar ankit (ankitech)
	pushMerge = group quizam-team
	pushMerge = group user/kumar ankit (ankitech)
	read = group quizam-team
	read = group user/kumar ankit (ankitech)
[access "refs/tags/*"]
	push = group quizam-team
	push = group user/kumar ankit (ankitech)
	push = +force group user/kumar ankit (ankitech)
